body {
    font-family: 'Lato', sans-serif;
}

.bold {
    font-family: 'Lato-Bold', sans-serif;
}

.light {
    font-family: 'Lato-Light', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato-Light', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

h2 {
    font-size: 1.6rem;
}

.slide {
    padding: 5% 1% 0 1%;
    text-align: center;
    color: #fff;
}

.slide p {
    font-size: 1.3rem;
}

#impress .slide {
    color: #000;
    padding: 40px 60px;
}


.placeholder {
  height: 225px;
  width: 95%;
}

.hide-disagree,
.hide-agree {
  opacity:0;
  width:1px;
  height: 1px;
  background-color: red;
  color: #fff;
  position: absolute;

  right:0;

  bottom: 0;
  font-size: .01em;
  z-index: 12;
}

.show-disagree,
.show-agree {
  opacity: 1;
  /*width: 50%;*/
  height: 10%;
  background-color: red;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  right:0;
  left: 0;
  bottom: 0;
  padding: 5% 0 0 0;
  position: absolute;
  font-size: 3em;
  z-index: 12;
}

.agree {
  background-color: green;
}

/*=============== charts*/

.tickLabel {
  font-size: 1.3em;
  color: #fff;
  font-family: 'Lato-Bold', sans-serif;
}

#impress .tickLabel {
    font-family: 'Lato-Light', sans-serif;
    color: #000;
}

.xAxis .tickLabel {
  margin: 10px 0 0 0;
}

.address {
  background-color: #000;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  right:0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  font-size: 1.2em;
}

.address h4 {
font-family: 'Lato-Bold', sans-serif;
}

.address h4 {
  padding: 5px;
}

#stats {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-size: 1.3em;
}

#stats.white {
    color: #fff;
}

#stats > span {
  display: inline-block;
  margin: 2px;
  padding: 5px;
}