body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: #B16A00;
}

h2#vote-label {
  font-family: 'Lato-Light', sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 3px 0 3px 0;
  font-weight: normal;
  background-color: #000;
}

@font-face {
  font-family: 'entypo';
  src: url('http://onslyde.com/css/entypo/entypo-social.eot');
  src: url('http://onslyde.com/css/entypo/entypo-social.eot?#iefix') format('embedded-opentype'), url('http://onslyde.com/css/entypo/entypo-social.woff') format('woff'), url('http://onslyde.com/css/entypo/entypo-social.ttf') format('truetype'), url('http://onslyde.com/css/entypo/entypo-social.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.pictogram {
  font-family: "entypo";
  display: inline-block;
  font-size: 2.5em;
  line-height: .6;
  overflow: hidden;
  vertical-align: middle;
  font-style: normal;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

/*************************************************
Mobile Device Page Setup
*************************************************/

#browser,
#slide-group-container,
.slide-group {
  width: 100%;
  height: 100%;
}

#browser {
  position: relative;
}

#slide-group-container {
  position: absolute;
  overflow: hidden;
}

.slide-group {
  position: absolute;
  /*top: 0;*/
  background-color: #fff;
  /*activate the GPU for compositing each page */
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*height:auto;*/
  /*bottom:0;*/
  /*top:0;*/
  /*left:0;*/
  /*right:0;*/
  /*width: auto;*/
}

.slide {
  position: absolute;
  background-color: #fff;
  border: 3px solid #eee;
  margin: 35px;
  padding: 15px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}

/*************************************************
UX Utils
*************************************************/

.none {
  display: none
}

.hide-it {
  opacity: 0;
}

.show {
  opacity: 100;
}

.transition {
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
}

/*************************************************
Device Specific Styles
*************************************************/
.stage-left,
.stage-right,
.stage-center {
  /*height:auto;*/
  /*bottom:0;*/
  /*top:0;*/
  /*left:0;*/
  /*right:0;*/
  /*width: auto;*/
}

.stage-left {
  left: -100%;
  right: 100%;
  width: auto;
  /*opacity: 0;*/
}

.stage-right {
  left: 100%;
  right: -100%;
  width: auto;
}

/*----------------------------nav bar*/
nav.primary > ul {
  text-align: center;
  margin: 0;
  padding: 0;
  /*position: absolute;*/
  /*top: 0;*/
}

nav.primary > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.primary > ul li a {
  color: #fff;
}

/*----------------------------pages*/

.slide {
  margin: 15px;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
}

.stage-left {
  left: -100%;
  width: auto;
  right: 100%;
  opacity: 0;
}

.stage-right {
  left: 100%;
  width: auto;
  right: -100%;
  opacity: 0;
}

#disagree,
#agree,
#option1,
#option2 {
  font-family: 'Lato-Bold', sans-serif;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 0;
  background-color: #252525;
  text-transform: uppercase;
  -webkit-appearance: none;
  border-radius: 0;
}

#speak {
  border-bottom: 0;
}

.auth-holder {
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}

#authorize-button {
  font-family: 'Lato-Light', sans-serif;
  color: #fff;
  padding: 3px 5px;
  width: auto;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  margin: 5px auto 0 auto;
  background-color: #252525;
  text-transform: uppercase;
}

#from-slide {
  color: #252525;
}

#from-slide img {
  float: left;
  max-width: 100%;
}

#roulette {
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  display: none;
  z-index: 10;
}

#roulette p {
  margin: 40% 0 0 0;
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
}

nav.primary li.logo-banner {
  background-color: #000;
  text-align: center;
  padding: 6px 0 6px 0;
}

.tweet-button {
  font-size: 1rem;
  border: 1px solid #ccc;
  -moz-box-shadow: 3px 3px 0px -1px #ccc;
  -webkit-box-shadow: 3px 3px 0px -1px #ccc;
  box-shadow: 3px 3px 0px -1px #ccc;
  padding: 10px 9px;
  display: inline-block;
}

.currently-speaking {
  display: inline-block;
  font-weight: 300;
}

.speaker-name {
  display: block;
  margin: 5px;
}
